.toc {
  margin-bottom: 3rem;
  font-size: 75%;
}

@media (min-width: 60rem) {
  .toc {
    position: fixed;
    top: 4rem;
    left: .5rem;
  }

  .toc:hover {
    z-index: 1;
    background: #fff;
    box-shadow: 30px 0 30px #fff;
  }

  .content {
    position: relative;
    background: #fff;
    box-shadow: -30px 0 30px #fff;
  }
}

.toc h2 {
  font-size: 125%;
}

.toc a {
  color: inherit;
}
