.sidebar-nav-item.level-h2 { padding-left: 2.0rem; }
.sidebar-nav-item.level-h3 { padding-left: 2.5rem; }
.sidebar-nav-item.level-h4 { padding-left: 3.0rem; }
.sidebar-nav-item.level-h5 { padding-left: 3.5rem; }
.sidebar-nav-item.level-h6 { padding-left: 4.0rem; }
